body{
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer{
  text-align: center;
}

#newAlarm form{
  background-color: rgb(211,211,211);
}

.alarm{
  margin-bottom: 1rem;
  background-color: rgb(192, 226, 151);
}

input, select, button{
  margin: 0.3rem;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#alarms{
  display: flex;
  flex-direction: column;
}

.alarm{
  display: flex;
  justify-content: center;
}

